@font-face {
	font-family: 'Cyber-font';
	src: url('fonts/AVA.ttf');
}
@font-face {
	font-family: 'New_Zelek';
	src: url('fonts/New_Zelek.ttf');
}
@font-face {
	font-family: 'Disket-Mono-Regular';
	src: url('fonts/Disket-Mono-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Disket-Mono-Bold';
	src: url('fonts/Disket-Mono-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
*{
	font-family: New_Zelek;
}
.no-select{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.not-current{
	opacity:0.5;
}
.normal{
	font-weight:bold;
}
.table{	
	font-size: 2em;
	text-align: center;
}
.box{	
	height: 100vh;
	weight; 100vw;
	display: flex;
	flex-direction: column;
	background-color: #f0f0f5;
}
.title{
	text-align:center;
}
.legend{
	justify-content:center;
}
.caldr-wrapper{
	display: flex;
	justify-content: center;
}
#divCaldr{
	margin: 2em;
}
.clr-buttons{
	text-align:center;
}
#btnPr{}
#btnNx{} 
#btnOk{
	margin: 13em 3em;
	height: 50px;
	width: 200px;
	background-color: yellow;
}
#btnOk:hover{
	background: #1d49aa;
	color: white;
}
#btnOk:active {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }
.legend{
	display: flex;
}
.legend p {
	padding-top: 3em;
}
#square1 {
    height: 80px;
    width: 80px;
	margin: 1.5em;
} 
#square2 {
    width: 80px;
    height: 80px;
	margin: 1.5em;
}
.red-color{
    background-color: red;
}
.green-color{
    background-color: #00b300;
}
.white-font{
	color: white;
}
.today{
	//background-color:Yellow;
	font-weight: bold;
}
.not-current{
	cursor: default;
}  
td.normal{
	cursor: pointer;
}                  